@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    html {
        @apply antialiased;
        font-family: Inter;
        line-height: 20px;
        font-size: 14px;
        font-style: normal;
        color: #1D2331;
    }

    body {
        {{lightThemeVars}}
    }

    body.dark {
        {{darkThemeVars}}
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-elements-assistive);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-elements-readable);
    }
}

@layer components {
  .shadow-button {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }

  .shadow-input {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }

  .shadow-dropdown {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05)
  }

  .txt-page-header {
    font-family: Metropolis;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44px;
  }

  .txt-section-header {
    font-family: Metropolis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  .txt-button-label-regular {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .txt-label {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .txt-link {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }

  .txt-value {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .txt-body {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .txt-code, code {
    font-family: "JetBrains Mono" !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150%;
  }

  .txt-counter {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .txt-button-label-xs {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.12px;
    text-transform: uppercase;
  }

  .txt-assistive {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  input[type=checkbox] {
    display: none;
  }

  .slide-toggle {
    display: block;
    position: relative;
    flex: none;
    width: 40px;
    height: 24.2px;
    border-radius: 30px;
    background-color: #CCCED3;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1;
  }
  .slide-toggle::before,
  .slide-toggle::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 2px;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    background-color: var(--color-border-default);
    transform: translate3d(0, 0, 0);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
  }
  .slide-toggle::before {
    z-index: -1;
    width: 34px;
    right: 2px;
    transform: scale(1);
  }
  .slide-toggle::after {
    z-index: 1;
    width: 20px;
    left: 2px;
    background-color: var(--color-elements-readable-inv);
  }
  input:checked + .slide-toggle {
    background-color: var(--color-cta);
  }
  input:checked:disabled + .slide-toggle {
    background-color: var(--color-elements-assistive);
  }
  input:checked + .slide-toggle::before {
    transform: scale(0);
  }
  input:checked + .slide-toggle::after {
    transform: translate3d(16px, 0, 0);
  }
  input + .slide-toggle .lock-icon {
    display: none;
  }
  input:disabled + .slide-toggle .lock-icon {
    display: block;
    position: absolute;
    right: 5.5px;
    top: 6px;
  }
  input:checked:disabled + .slide-toggle .lock-icon {
    display: block;
    position: absolute;
    left: 5.5px;
    top: 6px;
    color: var(--color-elements-readable-inv);
  }
}
