*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter;
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  color: #1D2331;
}

body {
  --color-blue-50: #86b5ef;
  --color-blue-30: #d0e2f8;
  --color-blue-80: #024391;
  --color-blue-20: #e9f2fc;
  --color-blue-115: #040c13;
  --color-blue-5: #f8fbfe;
  --color-blue-100: #052040;
  --color-blue-90: #053775;
  --color-blue-110: #05101e;
  --color-blue-70: #045ac3;
  --color-blue-60-brand: #2278e1;
  --color-blue-10: #f4f8fd;
  --color-blue-40: #a7c9f3;
  --color-red-50: #ef7768;
  --color-red-30: #f9d1cc;
  --color-red-80: #9b0b00;
  --color-red-20: #fdedeb;
  --color-red-115: #0e0909;
  --color-red-5: #fef9f9;
  --color-red-100: #410800;
  --color-red-90: #7a0d00;
  --color-red-110: #1f0000;
  --color-red-70: #c31a03;
  --color-red-60-brand: #ea4a35;
  --color-red-10: #fef6f5;
  --color-red-65: #d72710;
  --color-red-40: #f4a499;
  --color-yellow-50: #ffdf40;
  --color-yellow-30: #fff4bf;
  --color-yellow-80: #773f00;
  --color-yellow-20: #fff9d9;
  --color-yellow-115: #1f0800;
  --color-yellow-5: #fffdf2;
  --color-yellow-100: #391700;
  --color-yellow-90: #512600;
  --color-yellow-110: #2c1300;
  --color-yellow-70: #8f4e00;
  --color-yellow-60-brand: #ffd400;
  --color-yellow-10: #fffbe6;
  --color-yellow-40: #ffe97f;
  --color-grey-50: #90959f;
  --color-grey-60: #4a5162;
  --color-grey-30: #ccced3;
  --color-grey-80: #28303f;
  --color-grey-20: #ebecee;
  --color-grey-5: #f9f9f9;
  --color-grey-100: #121822;
  --color-grey-90: #1d2331;
  --color-grey-110: #0c121b;
  --color-grey-70: #353d50;
  --color-grey-0: #ffffff;
  --color-grey-95: #161d28;
  --color-grey-55: #727885;
  --color-grey-10: #f5f5f6;
  --color-grey-40: #b9bbc2;
  --color-green-60: #78b506;
  --spacing-x1: 8px;
  --spacing-x6: 48px;
  --spacing-x3: 24px;
  --spacing-half: 4px;
  --spacing-x8: 64px;
  --spacing-x12: 96px;
  --spacing-x4: 32px;
  --spacing-quarter: 2px;
  --spacing-x2: 16px;
  --spacing-x1point5: 12px;
  --corner-corner-max: 999px;
  --corner-corner-s: 4px;
  --corner-corner-m: 6px;
  --corner-corner-l: 8px;
  --corner-corner-xs: 2px;
  --color-surface-info: var(--color-blue-10);
  --color-elements-assistive: var(--color-grey-55);
  --color-surface-alert: var(--color-red-10);
  --color-code-blue: #358fea;
  --color-elements-readable: var(--color-grey-90);
  --color-surface-1: var(--color-grey-5);
  --color-elements-disabled: var(--color-grey-30);
  --color-surface-0: var(--color-grey-0);
  --color-logo-readable: #1d2331;
  --color-elements-yellow: #ff971c;
  --color-cta: var(--color-blue-60-brand);
  --color-elements-warning: var(--color-yellow-70);
  --color-border-XS-critical: var(--color-red-50);
  --color-cta-hover: var(--color-blue-70);
  --color-illustrations-solid: var(--color-red-60-brand);
  --color-elements-readable-inv: var(--color-grey-0);
  --color-surface-selected: var(--color-grey-20);
  --color-critical-default: var(--color-red-65);
  --color-elements-green: #6d9f0f;
  --color-elements-links: var(--color-blue-60-brand);
  --color-border-XS-regular-hover: var(--color-blue-50);
  --color-border-default: var(--color-grey-30);
  --color-border-XS-critical-hover: var(--color-red-40);
  --color-elements-info: var(--color-blue-60-brand);
  --color-critical-hover: var(--color-red-70);
  --color-code-red: #cd6153;
  --color-border-XS-regular: var(--color-blue-30);
  --color-separator: var(--color-grey-20);
  --color-elements-alert: var(--color-red-65);
  --color-surface-warning: var(--color-yellow-10)
    
}

body.dark {
  --color-blue-50: #86b5ef;
  --color-blue-30: #d0e2f8;
  --color-blue-80: #024391;
  --color-blue-20: #e9f2fc;
  --color-blue-115: #040c13;
  --color-blue-5: #f8fbfe;
  --color-blue-100: #052040;
  --color-blue-90: #053775;
  --color-blue-110: #05101e;
  --color-blue-70: #045ac3;
  --color-blue-60-brand: #2278e1;
  --color-blue-10: #f4f8fd;
  --color-blue-40: #a7c9f3;
  --color-red-50: #ef7768;
  --color-red-30: #f9d1cc;
  --color-red-80: #9b0b00;
  --color-red-20: #fdedeb;
  --color-red-115: #0e0909;
  --color-red-5: #fef9f9;
  --color-red-100: #410800;
  --color-red-90: #7a0d00;
  --color-red-110: #1f0000;
  --color-red-70: #c31a03;
  --color-red-60-brand: #ea4a35;
  --color-red-10: #fef6f5;
  --color-red-65: #d72710;
  --color-red-40: #f4a499;
  --color-yellow-50: #ffdf40;
  --color-yellow-30: #fff4bf;
  --color-yellow-80: #773f00;
  --color-yellow-20: #fff9d9;
  --color-yellow-115: #1f0800;
  --color-yellow-5: #fffdf2;
  --color-yellow-100: #391700;
  --color-yellow-90: #512600;
  --color-yellow-110: #2c1300;
  --color-yellow-70: #8f4e00;
  --color-yellow-60-brand: #ffd400;
  --color-yellow-10: #fffbe6;
  --color-yellow-40: #ffe97f;
  --color-grey-50: #90959f;
  --color-grey-60: #4a5162;
  --color-grey-30: #ccced3;
  --color-grey-80: #28303f;
  --color-grey-20: #ebecee;
  --color-grey-5: #f9f9f9;
  --color-grey-100: #121822;
  --color-grey-90: #1d2331;
  --color-grey-110: #0c121b;
  --color-grey-70: #353d50;
  --color-grey-0: #ffffff;
  --color-grey-95: #161d28;
  --color-grey-55: #727885;
  --color-grey-10: #f5f5f6;
  --color-grey-40: #b9bbc2;
  --color-green-60: #78b506;
  --spacing-x1: 8px;
  --spacing-x6: 48px;
  --spacing-x3: 24px;
  --spacing-half: 4px;
  --spacing-x8: 64px;
  --spacing-x12: 96px;
  --spacing-x4: 32px;
  --spacing-quarter: 2px;
  --spacing-x2: 16px;
  --spacing-x1point5: 12px;
  --corner-corner-max: 999px;
  --corner-corner-s: 4px;
  --corner-corner-m: 6px;
  --corner-corner-l: 8px;
  --corner-corner-xs: 2px;
  --color-surface-info: var(--color-blue-100);
  --color-elements-assistive: var(--color-grey-55);
  --color-surface-alert: var(--color-red-100);
  --color-code-blue: #358fea;
  --color-elements-readable: var(--color-grey-20);
  --color-surface-1: var(--color-grey-95);
  --color-elements-disabled: var(--color-grey-90);
  --color-surface-0: var(--color-grey-110);
  --color-logo-readable: var(--color-grey-60);
  --color-elements-yellow: #ff971c;
  --color-cta: var(--color-blue-70);
  --color-elements-warning: var(--color-yellow-30);
  --color-border-XS-critical: var(--color-red-50);
  --color-cta-hover: var(--color-blue-80);
  --color-illustrations-solid: var(--color-red-60-brand);
  --color-elements-readable-inv: var(--color-grey-20);
  --color-surface-selected: var(--color-grey-90);
  --color-critical-default: var(--color-red-70);
  --color-elements-green: #669018;
  --color-elements-links: var(--color-code-blue);
  --color-border-XS-regular-hover: var(--color-blue-50);
  --color-border-default: var(--color-grey-80);
  --color-border-XS-critical-hover: var(--color-red-40);
  --color-elements-info: var(--color-blue-30);
  --color-critical-hover: var(--color-red-80);
  --color-code-red: #cd6153;
  --color-border-XS-regular: var(--color-blue-90);
  --color-separator: var(--color-grey-90);
  --color-elements-alert: var(--color-red-30);
  --color-surface-warning: var(--color-yellow-100)
    
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-elements-assistive);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-elements-readable);
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.collapse {
  visibility: collapse;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.right-\[6px\] {
  right: 6px;
}

.top-0 {
  top: 0px;
}

.top-\[5px\] {
  top: 5px;
}

.z-10 {
  z-index: 10;
}

.-mt-\[4px\] {
  margin-top: -4px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-\[theme\(spacing\.x1point5\)\] {
  margin-bottom: var(--spacing-x1point5);
}

.mb-x1 {
  margin-bottom: var(--spacing-x1);
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-\[theme\(spacing\.x1\)\] {
  margin-left: var(--spacing-x1);
}

.ml-x1 {
  margin-left: var(--spacing-x1);
}

.mr-\[theme\(spacing\.x1\)\] {
  margin-right: var(--spacing-x1);
}

.mr-\[theme\(spacing\.x4\)\] {
  margin-right: var(--spacing-x4);
}

.mt-\[4px\] {
  margin-top: 4px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.list-item {
  display: list-item;
}

.hidden {
  display: none;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[22px\] {
  height: 22px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[64px\] {
  height: 64px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-\[338px\] {
  max-height: 338px;
}

.min-h-\[16px\] {
  min-height: 16px;
}

.min-h-\[36px\] {
  min-height: 36px;
}

.w-\[112px\] {
  width: 112px;
}

.w-\[128px\] {
  width: 128px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[22px\] {
  width: 22px;
}

.w-\[304px\] {
  width: 304px;
}

.w-\[331px\] {
  width: 331px;
}

.w-\[355px\] {
  width: 355px;
}

.w-\[407px\] {
  width: 407px;
}

.w-\[612px\] {
  width: 612px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-min {
  width: -moz-min-content;
  width: min-content;
}

.w-screen {
  width: 100vw;
}

.min-w-\[16px\] {
  min-width: 16px;
}

.min-w-\[80px\] {
  min-width: 80px;
}

.max-w-\[100px\] {
  max-width: 100px;
}

.max-w-\[20vw\] {
  max-width: 20vw;
}

.flex-1 {
  flex: 1 1 0%;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

.border-separate {
  border-collapse: separate;
}

.border-spacing-0 {
  --tw-border-spacing-x: 0px;
  --tw-border-spacing-y: 0px;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize-none {
  resize: none;
}

.grid-cols-\[auto_1fr\] {
  grid-template-columns: auto 1fr;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-x1point5 {
  gap: var(--spacing-x1point5);
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[12px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(12px * var(--tw-space-x-reverse));
  margin-left: calc(12px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[theme\(spacing\.x1\)\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(var(--spacing-x1) * var(--tw-space-x-reverse));
  margin-left: calc(var(--spacing-x1) * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[theme\(spacing\.x1point5\)\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(var(--spacing-x1point5) * var(--tw-space-x-reverse));
  margin-left: calc(var(--spacing-x1point5) * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[theme\(spacing\.x3\)\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(var(--spacing-x3) * var(--tw-space-x-reverse));
  margin-left: calc(var(--spacing-x3) * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-x1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(var(--spacing-x1) * var(--tw-space-x-reverse));
  margin-left: calc(var(--spacing-x1) * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-\[2px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2px * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[29px\] {
  border-radius: 29px;
}

.rounded-\[theme\(borderRadius\.corner-m\)\] {
  border-radius: var(--corner-corner-m);
}

.rounded-\[theme\(borderRadius\.corner-s\)\] {
  border-radius: var(--corner-corner-s);
}

.rounded-corner-l {
  border-radius: var(--corner-corner-l);
}

.rounded-corner-m {
  border-radius: var(--corner-corner-m);
}

.rounded-corner-max {
  border-radius: var(--corner-corner-max);
}

.rounded-corner-s {
  border-radius: var(--corner-corner-s);
}

.rounded-corner-xs {
  border-radius: var(--corner-corner-xs);
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-b-\[var\(--corner-corner-m\)\] {
  border-bottom-right-radius: var(--corner-corner-m);
  border-bottom-left-radius: var(--corner-corner-m);
}

.rounded-t-\[var\(--corner-corner-m\)\] {
  border-top-left-radius: var(--corner-corner-m);
  border-top-right-radius: var(--corner-corner-m);
}

.border {
  border-width: 1px;
}

.border-\[5px\] {
  border-width: 5px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-\[theme\(colors\.border-XS-critical\)\] {
  border-color: var(--color-border-XS-critical);
}

.border-\[theme\(colors\.border-XS-regular\)\] {
  border-color: var(--color-border-XS-regular);
}

.border-\[theme\(colors\.border-default\)\] {
  border-color: var(--color-border-default);
}

.border-\[theme\(colors\.cta\)\] {
  border-color: var(--color-cta);
}

.border-\[theme\(colors\.elements-assistive\)\] {
  border-color: var(--color-elements-assistive);
}

.border-\[theme\(colors\.separator\)\] {
  border-color: var(--color-separator);
}

.border-\[var\(--color-critical-default\)\] {
  border-color: var(--color-critical-default);
}

.border-\[var\(--color-separator\)\] {
  border-color: var(--color-separator);
}

.border-border-default {
  border-color: var(--color-border-default);
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.border-separator {
  border-color: var(--color-separator);
}

.border-transparent {
  border-color: transparent;
}

.bg-\[theme\(colors\.critical-default\)\] {
  background-color: var(--color-critical-default);
}

.bg-\[theme\(colors\.cta\)\] {
  background-color: var(--color-cta);
}

.bg-\[theme\(colors\.surface-0\)\] {
  background-color: var(--color-surface-0);
}

.bg-\[theme\(colors\.surface-1\)\] {
  background-color: var(--color-surface-1);
}

.bg-\[theme\(colors\.surface-alert\)\] {
  background-color: var(--color-surface-alert);
}

.bg-\[theme\(colors\.surface-info\)\] {
  background-color: var(--color-surface-info);
}

.bg-\[theme\(colors\.surface-warning\)\] {
  background-color: var(--color-surface-warning);
}

.bg-\[var\(--color-critical-default\)\] {
  background-color: var(--color-critical-default);
}

.bg-\[var\(--color-elements-readable-inv\)\] {
  background-color: var(--color-elements-readable-inv);
}

.bg-\[var\(--color-surface-0\)\] {
  background-color: var(--color-surface-0);
}

.bg-\[var\(--color-surface-1\)\] {
  background-color: var(--color-surface-1);
}

.bg-critical-default {
  background-color: var(--color-critical-default);
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity, 1));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.bg-surface-0 {
  background-color: var(--color-surface-0);
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[6px\] {
  padding: 6px;
}

.p-\[theme\(spacing\.x2\)\] {
  padding: var(--spacing-x2);
}

.p-half {
  padding: var(--spacing-half);
}

.p-quarter {
  padding: var(--spacing-quarter);
}

.p-x1 {
  padding: var(--spacing-x1);
}

.p-x12 {
  padding: var(--spacing-x12);
}

.p-x1point5 {
  padding: var(--spacing-x1point5);
}

.p-x2 {
  padding: var(--spacing-x2);
}

.p-x3 {
  padding: var(--spacing-x3);
}

.p-x4 {
  padding: var(--spacing-x4);
}

.p-x6 {
  padding: var(--spacing-x6);
}

.p-x8 {
  padding: var(--spacing-x8);
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[11px\] {
  padding-left: 11px;
  padding-right: 11px;
}

.px-\[theme\(spacing\.x2\)\] {
  padding-left: var(--spacing-x2);
  padding-right: var(--spacing-x2);
}

.px-\[theme\(spacing\.x3\)\] {
  padding-left: var(--spacing-x3);
  padding-right: var(--spacing-x3);
}

.px-\[theme\(spacing\.x4\)\] {
  padding-left: var(--spacing-x4);
  padding-right: var(--spacing-x4);
}

.px-x2 {
  padding-left: var(--spacing-x2);
  padding-right: var(--spacing-x2);
}

.px-x3 {
  padding-left: var(--spacing-x3);
  padding-right: var(--spacing-x3);
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[theme\(spacing\.x1\)\] {
  padding-top: var(--spacing-x1);
  padding-bottom: var(--spacing-x1);
}

.py-x2 {
  padding-top: var(--spacing-x2);
  padding-bottom: var(--spacing-x2);
}

.py-x3 {
  padding-top: var(--spacing-x3);
  padding-bottom: var(--spacing-x3);
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-\[1\.75px\] {
  padding-bottom: 1.75px;
}

.pb-\[11px\] {
  padding-bottom: 11px;
}

.pb-\[12px\] {
  padding-bottom: 12px;
}

.pb-\[4\.5px\] {
  padding-bottom: 4.5px;
}

.pb-\[8px\] {
  padding-bottom: 8px;
}

.pb-x2 {
  padding-bottom: var(--spacing-x2);
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-\[12px\] {
  padding-left: 12px;
}

.pl-\[3\.2px\] {
  padding-left: 3.2px;
}

.pl-\[4px\] {
  padding-left: 4px;
}

.pl-\[7\.2px\] {
  padding-left: 7.2px;
}

.pl-\[theme\(spacing\.x1point5\)\] {
  padding-left: var(--spacing-x1point5);
}

.pl-x1point5 {
  padding-left: var(--spacing-x1point5);
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-\[11px\] {
  padding-right: 11px;
}

.pr-\[12px\] {
  padding-right: 12px;
}

.pr-\[2px\] {
  padding-right: 2px;
}

.pr-\[3\.5px\] {
  padding-right: 3.5px;
}

.pr-\[7\.5px\] {
  padding-right: 7.5px;
}

.pr-\[7px\] {
  padding-right: 7px;
}

.pr-\[theme\(spacing\.x1point5\)\] {
  padding-right: var(--spacing-x1point5);
}

.pr-half {
  padding-right: var(--spacing-half);
}

.pt-\[--var\] {
  padding-top: var(--var);
}

.pt-\[12px\] {
  padding-top: 12px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[1px\] {
  padding-top: 1px;
}

.pt-\[2\.25px\] {
  padding-top: 2.25px;
}

.pt-\[2px\] {
  padding-top: 2px;
}

.pt-\[6px\] {
  padding-top: 6px;
}

.pt-\[7px\] {
  padding-top: 7px;
}

.pt-x3 {
  padding-top: var(--spacing-x3);
}

.text-left {
  text-align: left;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-\[\#727885\] {
  --tw-text-opacity: 1;
  color: rgb(114 120 133 / var(--tw-text-opacity, 1));
}

.text-\[\#8F4E00\] {
  --tw-text-opacity: 1;
  color: rgb(143 78 0 / var(--tw-text-opacity, 1));
}

.text-\[\#CCCED3\] {
  --tw-text-opacity: 1;
  color: rgb(204 206 211 / var(--tw-text-opacity, 1));
}

.text-\[theme\(colors\.critical-default\)\] {
  color: var(--color-critical-default);
}

.text-\[theme\(colors\.cta\)\] {
  color: var(--color-cta);
}

.text-\[theme\(colors\.elements-assistive\)\] {
  color: var(--color-elements-assistive);
}

.text-\[theme\(colors\.elements-readable\)\] {
  color: var(--color-elements-readable);
}

.text-\[theme\(colors\.elements-readable-inv\)\] {
  color: var(--color-elements-readable-inv);
}

.text-\[theme\(colors\.elements-warning\)\] {
  color: var(--color-elements-warning);
}

.text-\[var\(--color-critical-default\)\] {
  color: var(--color-critical-default);
}

.text-\[var\(--color-elements-assistive\)\] {
  color: var(--color-elements-assistive);
}

.text-\[var\(--color-elements-green\)\] {
  color: var(--color-elements-green);
}

.text-\[var\(--color-elements-readable\)\] {
  color: var(--color-elements-readable);
}

.text-\[var\(--color-elements-readable-inv\)\] {
  color: var(--color-elements-readable-inv);
}

.text-critical-default {
  color: var(--color-critical-default);
}

.text-cta {
  color: var(--color-cta);
}

.text-elements-assistive {
  color: var(--color-elements-assistive);
}

.text-elements-links {
  color: var(--color-elements-links);
}

.text-elements-readable {
  color: var(--color-elements-readable);
}

.text-elements-warning {
  color: var(--color-elements-warning);
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.outline-1 {
  outline-width: 1px;
}

.outline-separator {
  outline-color: var(--color-separator);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.shadow-button {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.shadow-dropdown {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.txt-page-header {
  font-family: Metropolis;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.44px;
}

.txt-section-header {
  font-family: Metropolis;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.txt-home {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.txt-button-label-regular {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.txt-label {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txt-link {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.txt-value {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.txt-body {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.txt-code {
  font-family: "JetBrains Mono";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150%;
}

.txt-counter {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.txt-button-label-xs {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

.txt-assistive {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.txt-assistive-code, code {
  font-family: "JetBrains Mono" !important;
  color: var(--color-elements-readable);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input[type=checkbox] {
  display: none;
}

.slide-toggle {
  display: block;
  position: relative;
  flex: none;
  width: 40px;
  height: 24.2px;
  border-radius: 30px;
  background-color: #CCCED3;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.slide-toggle::before,
  .slide-toggle::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 2px;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  background-color: var(--color-border-default);
  transform: translate3d(0, 0, 0);
  transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
}

.slide-toggle::before {
  z-index: -1;
  width: 34px;
  right: 2px;
  transform: scale(1);
}

.slide-toggle::after {
  z-index: 1;
  width: 20px;
  left: 2px;
  background-color: var(--color-elements-readable-inv);
}

input:checked + .slide-toggle {
  background-color: var(--color-cta);
}

input:checked:disabled + .slide-toggle {
  background-color: var(--color-elements-assistive);
}

input:checked + .slide-toggle::before {
  transform: scale(0);
}

input:checked + .slide-toggle::after {
  transform: translate3d(16px, 0, 0);
}

input + .slide-toggle .lock-icon {
  display: none;
}

input:disabled + .slide-toggle .lock-icon {
  display: block;
  position: absolute;
  right: 5.5px;
  top: 6px;
}

input:checked:disabled + .slide-toggle .lock-icon {
  display: block;
  position: absolute;
  left: 5.5px;
  top: 6px;
  color: var(--color-elements-readable-inv);
}

dialog::backdrop {
  background-color: rgb(107 114 128);
  opacity:   0.75;
  animation: modal-opacity 0.25s ease-out;
}

dialog:open {
  animation: modal-open-scale 0.25s ease-out;
}

.skeleton {
  color: transparent !important;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px inherit;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
  /* Adjust duration and timing function as needed */
}

input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.focus-within\:shadow-input:focus-within {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.\[\&_\*\]\:txt-assistive * {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.placeholder\:text-\[theme\(colors\.elements-disabled\)\]::-moz-placeholder {
  color: var(--color-elements-disabled);
}

.placeholder\:text-\[theme\(colors\.elements-disabled\)\]::placeholder {
  color: var(--color-elements-disabled);
}

.even\:bg-\[var\(--color-surface-1\)\]:nth-child(even) {
  background-color: var(--color-surface-1);
}

.focus-within\:border-\[theme\(colors\.border-XS-regular-hover\)\]:focus-within {
  border-color: var(--color-border-XS-regular-hover);
}

.hover\:border-\[theme\(colors\.border-XS-critical-hover\)\]:hover {
  border-color: var(--color-border-XS-critical-hover);
}

.hover\:border-\[theme\(colors\.border-XS-regular-hover\)\]:hover {
  border-color: var(--color-border-XS-regular-hover);
}

.hover\:bg-\[theme\(colors\.critical-hover\)\]:hover {
  background-color: var(--color-critical-hover);
}

.hover\:bg-\[theme\(colors\.cta-hover\)\]:hover {
  background-color: var(--color-cta-hover);
}

.hover\:bg-\[theme\(colors\.surface-0\)\]:hover {
  background-color: var(--color-surface-0);
}

.hover\:bg-\[theme\(colors\.surface-1\)\]:hover {
  background-color: var(--color-surface-1);
}

.hover\:bg-\[var\(--color-surface-1\)\]:hover {
  background-color: var(--color-surface-1);
}

.hover\:text-\[theme\(colors\.elements-readable\)\]:hover {
  color: var(--color-elements-readable);
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:underline-offset-\[3px\]:hover {
  text-underline-offset: 3px;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.active\:bg-\[theme\(colors\.critical-default\)\]:active {
  background-color: var(--color-critical-default);
}

.active\:bg-\[theme\(colors\.cta\)\]:active {
  background-color: var(--color-cta);
}

.active\:bg-transparent:active {
  background-color: transparent;
}

.active\:text-\[theme\(colors\.elements-assistive\)\]:active {
  color: var(--color-elements-assistive);
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:bg-\[theme\(colors\.elements-disabled\)\]:disabled {
  background-color: var(--color-elements-disabled);
}

.disabled\:bg-\[theme\(colors\.surface-1\)\]:disabled {
  background-color: var(--color-surface-1);
}

.disabled\:bg-transparent:disabled {
  background-color: transparent;
}

.disabled\:text-\[theme\(colors\.elements-assistive\)\]:disabled {
  color: var(--color-elements-assistive);
}

.disabled\:text-\[theme\(colors\.elements-disabled\)\]:disabled {
  color: var(--color-elements-disabled);
}

.group\/item[open] .group-open\/item\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/item[open] .group-open\/item\:rounded-b-none {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group\/error-item:hover .group-hover\/error-item\:block {
  display: block;
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:inline-block {
  display: inline-block;
}

.group:hover .group-hover\:hidden {
  display: none;
}

.group:hover .group-hover\:text-\[theme\(colors\.elements-readable\)\] {
  color: var(--color-elements-readable);
}

.group\/error-item:hover .group-hover\/error-item\:underline {
  text-decoration-line: underline;
}

.group:focus .group-focus\:block {
  display: block;
}

.group:focus .group-focus\:hidden {
  display: none;
}

.has-\[\:checked\]\:border-\[\#EA4A35\]:has(:checked) {
  --tw-border-opacity: 1;
  border-color: rgb(234 74 53 / var(--tw-border-opacity, 1));
}

.has-\[\:checked\]\:text-\[theme\(colors\.elements-readable\)\]:has(:checked) {
  color: var(--color-elements-readable);
}

.aria-selected\:bg-\[var\(--color-surface-selected\)\][aria-selected="true"] {
  background-color: var(--color-surface-selected);
}

.data-\[loading\=true\]\:relative[data-loading="true"] {
  position: relative;
}

.data-\[loading\=true\]\:cursor-wait[data-loading="true"] {
  cursor: wait;
}

.data-\[role\=link\]\:cursor-pointer[data-role="link"] {
  cursor: pointer;
}

.data-\[hovered\=true\]\:border-\[theme\(colors\.border-XS-critical-hover\)\][data-hovered="true"] {
  border-color: var(--color-border-XS-critical-hover);
}

.data-\[hovered\=true\]\:border-\[theme\(colors\.border-XS-regular-hover\)\][data-hovered="true"] {
  border-color: var(--color-border-XS-regular-hover);
}

.data-\[invalid\=true\]\:border-\[theme\(colors\.critical-default\)\][data-invalid="true"] {
  border-color: var(--color-critical-default);
}

.data-\[loading\=true\]\:border-\[theme\(colors\.border-XS-critical\)\][data-loading="true"] {
  border-color: var(--color-border-XS-critical);
}

.data-\[active\=true\]\:bg-\[theme\(colors\.critical-default\)\][data-active="true"] {
  background-color: var(--color-critical-default);
}

.data-\[active\=true\]\:bg-\[theme\(colors\.cta\)\][data-active="true"] {
  background-color: var(--color-cta);
}

.data-\[active\=true\]\:bg-transparent[data-active="true"] {
  background-color: transparent;
}

.data-\[hovered\=true\]\:bg-\[theme\(colors\.critical-hover\)\][data-hovered="true"] {
  background-color: var(--color-critical-hover);
}

.data-\[hovered\=true\]\:bg-\[theme\(colors\.cta-hover\)\][data-hovered="true"] {
  background-color: var(--color-cta-hover);
}

.data-\[hovered\=true\]\:bg-\[theme\(colors\.surface-0\)\][data-hovered="true"] {
  background-color: var(--color-surface-0);
}

.data-\[hovered\=true\]\:bg-\[theme\(colors\.surface-1\)\][data-hovered="true"] {
  background-color: var(--color-surface-1);
}

.data-\[loading\=true\]\:bg-\[theme\(colors\.critical-default\)\][data-loading="true"] {
  background-color: var(--color-critical-default);
}

.data-\[loading\=true\]\:bg-\[theme\(colors\.critical-hover\)\][data-loading="true"] {
  background-color: var(--color-critical-hover);
}

.data-\[loading\=true\]\:bg-\[theme\(colors\.cta-hover\)\][data-loading="true"] {
  background-color: var(--color-cta-hover);
}

.data-\[loading\=true\]\:bg-\[theme\(colors\.surface-1\)\][data-loading="true"] {
  background-color: var(--color-surface-1);
}

.data-\[selected\=true\]\:bg-\[theme\(colors\.surface-selected\)\][data-selected="true"] {
  background-color: var(--color-surface-selected);
}

.data-\[active\=true\]\:text-\[theme\(colors\.elements-assistive\)\][data-active="true"] {
  color: var(--color-elements-assistive);
}

.data-\[hovered\=true\]\:text-\[theme\(colors\.elements-readable\)\][data-hovered="true"] {
  color: var(--color-elements-readable);
}

.data-\[invalid\=true\]\:text-\[theme\(colors\.critical-default\)\][data-invalid="true"] {
  color: var(--color-critical-default);
}

.data-\[loading\=true\]\:text-\[theme\(colors\.border-XS-critical\)\][data-loading="true"] {
  color: var(--color-border-XS-critical);
}

.data-\[loading\=true\]\:text-\[theme\(colors\.border-XS-regular\)\][data-loading="true"] {
  color: var(--color-border-XS-regular);
}

.data-\[selected\=true\]\:text-\[theme\(colors\.elements-readable\)\][data-selected="true"] {
  color: var(--color-elements-readable);
}

.data-\[hovered\=true\]\:underline[data-hovered="true"] {
  text-decoration-line: underline;
}

.data-\[hovered\=true\]\:underline-offset-\[3px\][data-hovered="true"] {
  text-underline-offset: 3px;
}

.data-\[role\=link\]\:hover\:opacity-40:hover[data-role="link"] {
  opacity: 0.4;
}

.\[\&_\*\]\:text-elements-assistive * {
  color: var(--color-elements-assistive);
}

.\[\&_svg\]\:ml-x1 svg {
  margin-left: var(--spacing-x1);
}

.\[\&_svg\]\:mr-\[7px\] svg {
  margin-right: 7px;
}

.\[\&_svg\]\:enabled\:text-\[theme\(colors\.elements-readable\)\]:enabled svg {
  color: var(--color-elements-readable);
}
